<footer class="footer">
    <div class="footer__logo"></div>
    <ul class="footer__contact">
        <li class="footer__address">
            <a href="https://maps.app.goo.gl/tNK5RLUT4e93UXHz8">
                Agios Panteleimonas 213 00, Grèce
            </a>
        </li>
        <li class="footer__phone">
            <a href="tel:+302810999520">
                +30 281 099 9520
            </a>
        </li>
        <li class="footer__email">
            <a href="mailto:frontdesk@twelve.gr">
                frontdesk@twelve.gr
            </a>
        </li>
    </ul>
</footer>