<meta charset="UTF-8"> <!-- Ce tag permet de définir l'encodage des caractères utilisés dans la page -->
<meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Ce tag permet de définir la largeur de la page en fonction de la largeur de l'écran de l'utilisateur -->
<meta name="description" content="Découvez Twelve, un sanctuaire grec où le temps s'efface, laissant place à une éternité de luxe et de sérénité."> <!-- Ce tag permet de définir la description de la page -->
<meta property="og:title" content="Twelve, un hôtel hors du temps."> <!-- Ce tag permet de définir le titre de la page -->
<meta property="og:description" content="Découvez Twelve, un sanctuaire grec où le temps s'efface, laissant place à une éternité de luxe et de sérénité."> <!-- Ce tag permet de définir la description de la page -->
<meta property="og:image" content="<%-head.url%>img/og-image.jpg"> <!-- Ce tag permet de définir l'image qui sera utilisée pour le partage de la page sur les réseaux sociaux -->
<meta property="og:url" content="<%-head.url%>"> <!-- Ce tag permet de définir l'url de la page -->
<link rel="icon" href="/img/favicon.ico" type="image/x-icon"> <!-- Ce tag permet de définir l'icône qui sera utilisée pour le site -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script> <!-- Import de la librairie GSAP qui permet de créer des animations -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script> <!-- Import de la librairie ScrollTrigger qui permet de créer des animations en fonction du scroll (plugin de GSAP) -->
<link rel="stylesheet" href="/css/global.css"> <!-- Import du fichier global.css qui contient les styles communs à toutes les pages -->
<link rel="stylesheet" href="/css/footer.css"> <!-- Import du fichier footer.css qui contient les styles spécifiques au footer -->
<title>Twelve, un hôtel hors du temps.</title> <!-- Ce tag permet de définir le titre de la page -->