<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Découvez Twelve, un sanctuaire grec où le temps s'efface, laissant place à une éternité de luxe et de sérénité.">
<meta property="og:title" content="Twelve, un hôtel hors du temps.">
<meta property="og:description" content="Découvez Twelve, un sanctuaire grec où le temps s'efface, laissant place à une éternité de luxe et de sérénité.">
<meta property="og:image" content="/img/og-image.jpg">
<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/css/global.css">
<title>Twelve, un hôtel hors du temps.</title>