<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Découvez Twelve, un sanctuaire grec où le temps s'efface, laissant place à une éternité de luxe et de sérénité.">
<meta property="og:title" content="Twelve, un hôtel hors du temps.">
<meta property="og:description" content="Découvez Twelve, un sanctuaire grec où le temps s'efface, laissant place à une éternité de luxe et de sérénité.">
<meta property="og:image" content="<%-currentUrl%>img/og-image.jpg">
<meta property="og:image:secure" content="<%-currentUrl%>img/og-image.jpg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
<meta property="og:url" content="<%-currentUrl%>">
<link rel="icon" href="/img/favicon.ico" type="image/x-icon">
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
<link rel="stylesheet" href="/css/global.css">
<title>Twelve, un hôtel hors du temps.</title>