.logo {
  position: relative; /* La propriété position: relative permet de positionner un élément par rapport à sa position initiale */
  top: 10px;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  transform: translateX(
    -50%
  ); /* La propriété transform: translateX permet de déplacer un élément horizontalement sans modifier le positionnement des autres éléments */
  background: url("/img/logo-black.svg") no-repeat center/contain; /* Utilisation de la propriété background pour afficher une image de fond */
}

.cocktail {
  position: relative; /* La propriété position: relative permet de positionner un élément par rapport à sa position initiale */
  width: 95%;
  max-width: 500px; /* La propriété max-width permet de spécifier la largeur maximale d'un élément */
  left: 50%;
  transform: translateX(
    -50%
  ); /* La propriété transform: translateX permet de déplacer un élément horizontalement sans modifier le positionnement des autres éléments */
  display: flex; /* La propriété display: flex permet de créer un conteneur flexible pour les éléments enfants */
  flex-direction: column; /* La propriété flex-direction: column permet de spécifier que les éléments enfants doivent être affichés verticalement */
  flex-wrap: nowrap; /* La propriété flex-wrap: nowrap permet de spécifier que les éléments enfants ne doivent pas être enroulés sur plusieurs lignes */
  justify-content: normal; /* La propriété justify-content: normal permet de spécifier que les éléments enfants doivent être alignés de manière normale */
  align-items: normal; /* La propriété align-items: normal permet de spécifier que les éléments enfants doivent être alignés de manière normale */
  align-content: normal; /* La propriété align-content: normal permet de spécifier que les éléments enfants doivent être alignés de manière normale */
}

.cocktail__title {
  position: relative; /* La propriété position: relative permet de positionner un élément par rapport à sa position initiale */
  width: 95%;
  left: 50%;
  transform: translateX(
    -50%
  ); /* La propriété transform: translateX permet de déplacer un élément horizontalement sans modifier le positionnement des autres éléments */
  text-align: center;
  font-size: var(
    --font-size-large
  ); /* La valeur var(--font-size-large) fait référence à la taille de police large définie dans le fichier global.css */
  font-family: var(
    --font-secondary
  ); /* La valeur var(--font-secondary) fait référence à la police de caractères "Syne" définie dans le fichier global.css */
  text-transform: uppercase; /* La propriété text-transform: uppercase permet de convertir le texte en majuscules */
  margin-bottom: 50px;
}

.ingredients__item {
  position: relative; /* La propriété position: relative permet de positionner un élément par rapport à sa position initiale */
  margin-bottom: 10px;
  font-size: var(
    --font-size-medium
  ); /* La valeur var(--font-size-medium) fait référence à la taille de police moyenne définie dans le fichier global.css */
  opacity: 0.7;
  text-align: center;
}

.ingredients {
  margin-bottom: 50px;
  list-style: none; /* La propriété list-style: none permet de supprimer les puces d'une liste */
}

.cocktail__button {
  position: relative; /* La propriété position: relative permet de positionner un élément par rapport à sa position initiale */
  width: 100%;
  min-height: 50px; /* La propriété min-height permet de spécifier la hauteur minimale d'un élément */
  padding-top: var(
    --padding-small
  ); /* La valeur var(--padding-small) fait référence à l'espacement petit défini dans le fichier global.css */
  padding-bottom: var(
    --padding-small
  ); /* La valeur var(--padding-small) fait référence à l'espacement petit défini dans le fichier global.css */
  margin-bottom: 20px;
  font-size: var(
    --font-size-medium
  ); /* La valeur var(--font-size-medium) fait référence à la taille de police moyenne définie dans le fichier global.css */
  background-color: var(
    --color-black
  ); /* La valeur var(--color-black) fait référence à la couleur noire définie dans le fichier global.css */
  color: var(
    --color-white
  ); /* La valeur var(--color-white) fait référence à la couleur blanche définie dans le fichier global.css */
  border: none; /* La propriété border: none permet de supprimer les bordures d'un élément */
  cursor: pointer; /* La propriété cursor: pointer permet de spécifier le curseur de la souris lorsqu'il survole un élément */
  font-family: var(
    --font-primary
  ); /* La valeur var(--font-primary) fait référence à la police de caractères "Outfit" définie dans le fichier global.css */
  display: none; /* La propriété display: none permet de masquer un élément */
}
