.header {
  position: relative;
  width: 100%;
  height: 150vh;
  background: url("/img/header-dining.jpg") no-repeat center 80% / cover;
  filter: saturate(100%);
}

.header__logo {
  position: sticky;
  top: 10px;
  left: 50px;
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  background: url("/img/logo-white.svg") no-repeat center/contain;
}

.dining__title {
  position: relative;
  margin-top: 50px;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 30px;
  font-family: var(--font-secondary);
  text-transform: uppercase;
}

.restaurant,
.bar {
  position: relative;
  width: 95%;
  left: 50%;
  margin-top: 50px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
}

.bar {
  height: 150vh;
  flex-direction: row-reverse;
}

.restaurant__illustration,
.bar__illustration {
  position: relative;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  gap: 20px;
}

.bar__illustration {
  height: 100%;
}

.bar__illustration img {
  position: relative;
  object-fit: cover;
  height: 100%;
}

.illustration__top {
  position: relative;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: 50% 70%;
}

.illustration__bottom {
  position: relative;
  width: 100%;
  height: calc(140vh / 2);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  gap: 20px;
}

.illustration__bottom img {
  position: relative;
  width: 50%;
  object-fit: cover;
}

.restaurant__content,
.bar__content {
  position: relative;
  width: 40%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: stretch;
  align-content: stretch;
}

.restaurant__title,
.bar__title {
  font-size: 30px;
  font-family: var(--font-secondary);
}

.restaurant__description,
.bar__description {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 20px;
}

.restaurant__button,
.bar__button {
  position: relative;
  width: 100%;
  min-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  background-color: var(--color-black);
  color: var(--color-white);
  border: none;
  cursor: pointer;
  font-family: var(--font-primary);
}

.button-light {
  background-color: var(--color-white);
  color: var(--color-black);
}

.restaurant-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  top: 0;
  left: 0;
  background-color: var(--color-white);
  z-index: 100;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
}

.menu__close {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 15px;
  color: var(--color-black);
  cursor: pointer;
  z-index: 100;
}

.menu__logo {
  position: relative;
  width: 100%;
  height: 100vh;
}

.menu__logo img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20%;
  transform: translate(-50%, -50%);
}

.menu__content {
  position: relative;
  width: 100%;
  height: 100vh;
  color: var(--color-black);
  box-sizing: border-box;
  overflow-y: auto;
  padding: 50px;
}

.menu__list {
  list-style: none;
}

.menu__list li {
  transform: translateY(20px);
  opacity: 0;
}

.menu__item--title {
  font-size: 30px;
  font-family: var(--font-secondary);
}

.menu__item--content {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.cocktail-builder {
  position: fixed;
  width: 500px;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--color-white);
  z-index: 100;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  transform: translateX(-100%);
}

.cocktail__close {
  position: absolute;
  font-size: 15px;
  color: var(--color-black);
  cursor: pointer;
  z-index: 100;
}

.cocktail__content {
  position: relative;
  width: 100%;
  top: 50px;
  color: var(--color-black);
  margin-bottom: 50px;
}

.cocktail__title {
  font-size: 30px;
  font-family: var(--font-secondary);
}

.cocktail__description {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
}

.separator {
  position: relative;
  width: 100%;
  height: 1px;
  background-color: var(--color-black);
  margin-bottom: 20px;
  opacity: 0.5;
}

.cocktail__labs {
  width: 100%;
  display: block;
  box-sizing: border-box;
  overflow-y: auto;
}

.labs__ingredients {
  font-size: 20px;
  margin-bottom: 20px;
}

.labs__title {
  font-size: 20px;
  font-family: var(--font-secondary);
  margin-bottom: 10px;
}

.labs__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  gap: 20px;
}

.labs__list li {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: 20px;
  font-family: var(--font-primary);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.labs__list li:hover {
  background-color: var(--color-red);
  color: var(--color-white);
}

.labs__input {
  position: relative;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  background-color: var(--color-white);
  color: var(--color-black);
  border: 2px solid var(--color-black);
  font-family: var(--font-primary);
}

.labs__input:focus {
  outline: none;
}

.labs__results {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
  gap: 20px;
  list-style: none;
  margin-top: 10px;
}

.labs__results li {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: var(--color-white);
  color: var(--color-black);
  font-size: 20px;
  font-family: var(--font-primary);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.labs__results li:hover {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.labs__button {
  position: relative;
  width: 100%;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  font-size: 20px;
  background-color: var(--color-black);
  color: var(--color-white);
  border: none;
  cursor: pointer;
  font-family: var(--font-primary);
}

.labs__button:disabled {
  background-color: var(--color-grey);
  color: var(--color-black);
  cursor: not-allowed;
}

.cocktail__qr {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  opacity: 0;
}

.cocktail__qr img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 800px) {
  .restaurant,
  .bar {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .restaurant__illustration,
  .bar__illustration {
    width: 100%;
  }

  .restaurant__content,
  .bar__content {
    width: 100%;
    padding: 20px;
    padding-bottom: 0;
  }

  .illustration__bottom {
    display: none;
  }

  .illustration__top,
  .bar__illustration {
    height: 40vh;
  }

  .restaurant-menu {
    flex-direction: column;
  }

  .menu__logo {
    height: 20vh;
  }

  .menu__logo img {
    bottom: 0;
  }

  .cocktail-builder {
    width: 100%;
  }
}
