.footer {
  position: relative;
  width: 100%;
  padding-bottom: 30px;
  background: var(--color-grey);
}

.footer__logo {
  position: relative;
  margin-top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background: url("/img/logo-black.svg") no-repeat center center / contain;
}

.footer__contact {
  list-style: none;
  position: relative;
  width: 90%;
  left: 50%;
  transform: translateX(-50%);
}

.footer__contact li {
  text-align: center;
  margin-bottom: 10px;
}

.footer__contact li a {
  text-decoration: none;
  color: var(--color-black);
}
