@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Sulphur+Point:wght@300;400;700&display=swap');

:root {
    --color-white: #FDFAF6;
    --color-black: #0D0700;
    --color-grey: #F4F4F4;
    
    --font-primary: 'Outfit', sans-serif;
    --font-secondary: 'Sulphur Point', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::selection{
    background-color: var(--color-black);
    color: var(--color-white);
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-white);
    color: var(--color-black);
    overflow-x: hidden;
}