<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/404.css">
</head>

<body>
    <div class="header">
        <a href="/">
            <div class="header__logo"></div>
        </a>
        <h1 class="header__title">404</h1>
    </div>
</body>

</html>