<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/cocktail.css">
</head>

<body>
    <a href="/">
        <div class="logo"></div>
    </a>
    <div class="cocktail">
        <h1 class="cocktail__title">Ingredients</h1>
        <ul class="ingredients">
            <% for (let i = 0; i < ingredients.length; i++) { %>
                <li class="ingredients__item"><%= ingredients[i] %></li>
            <% } %>
        </ul>
    </div>
</body>

</html>