<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/dining.css">
        <script src="/js/dining.js" defer></script>
</head>

<body>
    <div class="header">
        <a href="/">
            <div class="header__logo"></div>
        </a>
    </div>
    <h1 class="dining__title">Restauration</h1>
    <div class="restaurant">
        <div class="restaurant__illustration">
            <img class="illustration__top" src="/img/dining/illustration-top.jpg" draggable="false">
            <div class="illustration__bottom">
                <img src="/img/dining/illustration-bottom__left.jpg" class="bottom__left" draggable="false">
                <img src="/img/dining/illustration-bottom__right.jpg" class="bottom__right" draggable="false">
            </div>
        </div>
        <div class="restaurant__content">
            <h2 class="restaurant__title">LE 12</h2>
            <p class="restaurant__description">
                Sous les lumières tamisées de l'élégant restaurant Le 12, un mariage inattendu entre la Méditerranée et
                le Japon se dévoile avec grâce. Les saveurs envoûtantes des produits locaux se mêlent à la délicatesse
                des techniques culinaires japonaises, créant ainsi une symphonie gastronomique d'une rare finesse.
                Chaque plat, véritable œuvre d'art, éveille les sens et transporte les convives dans un voyage sensoriel
                où la tradition rencontre l'innovation. Au cœur de l'hôtel Twelve, ce sanctuaire culinaire incarne
                l'excellence et l'harmonie, offrant une expérience inoubliable aux amateurs de cuisine raffinée.
            </p>
            <button class="restaurant__button" id="button-menu">Découvrir le menu</button>
            <a href="https://www.sevenrooms.com/reservations/namaamanzoe" target="_blank">
                <button class="button-light restaurant__button">Réserver</button>
            </a>
        </div>
    </div>
    <div class="restaurant-menu">
        <p class="menu__close" id="menu-close"">FERMER</p>
        <div class="menu__logo">
            <img src="/img/le12-logo.png" draggable="false">
        </div>
        <div class="menu__content">
            <ul class="menu__list">
                <% for (let i = 0; i < le12.length; i++) { %>
                    <li class="menu__item--title"><%= le12[i].title %></li>
                    <% for (let j = 0; j < le12[i].content.length; j++) { %>
                        <li class="menu__item--content"><%= le12[i].content[j] %></li>
                    <% } %>
                <% } %>
            </ul>
        </div>
    </div>
    <%- include('../partials/footer') %>
</body>

</html>