<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../partials/head') %> <!-- Import du fichier head.ejs qui contient les balises meta, link et script communes à toutes les pages -->
        <link rel="stylesheet" href="/css/dining.css">
        <script src="/js/dining.js" defer></script>
</head>

<body>
    <div class="header">
        <a href="/">
            <div class="header__logo"></div>
        </a>
    </div>
    <h1 class="dining__title">Restauration</h1>
    <div class="restaurant">
        <div class="restaurant__illustration">
            <img class="illustration__top" src="/img/dining/illustration-top.jpg" draggable="false">
            <div class="illustration__bottom">
                <img src="/img/dining/illustration-bottom__left.jpg" class="bottom__left" draggable="false">
                <img src="/img/dining/illustration-bottom__right.jpg" class="bottom__right" draggable="false">
            </div>
        </div>
        <div class="restaurant__content">
            <h2 class="restaurant__title">LE 12</h2>
            <p class="restaurant__description">
                Sous les lumières tamisées de l'élégant restaurant Le 12, un mariage inattendu entre la Méditerranée et
                le Japon se dévoile avec grâce. Les saveurs envoûtantes des produits locaux se mêlent à la délicatesse
                des techniques culinaires japonaises, créant ainsi une symphonie gastronomique d'une rare finesse.
                Chaque plat, véritable œuvre d'art, éveille les sens et transporte les convives dans un voyage sensoriel
                où la tradition rencontre l'innovation. Au cœur de l'hôtel Twelve, ce sanctuaire culinaire incarne
                l'excellence et l'harmonie, offrant une expérience inoubliable aux amateurs de cuisine raffinée.
            </p>
            <button class="restaurant__button" id="button-menu">Découvrir le menu</button>
            <a href="https://www.sevenrooms.com/reservations/namaamanzoe" target="_blank">
                <button class="button-light restaurant__button">Réserver</button>
            </a>
        </div>
    </div>
    <div class="restaurant-menu">
        <p class="menu__close" id="menu-close"">FERMER</p>
        <div class="menu__logo">
            <img src="/img/le12-logo.png" draggable="false">
        </div>
        <div class="menu__content">
            <ul class="menu__list">
                <% for (let i = 0; i < le12.length; i++) { %> <!-- Cette boucle permet de parcourir le tableau le12 et d'afficher les éléments de ce tableau -->
                    <li class="menu__item--title"><%= le12[i].title %></li> <!-- Cette ligne permet d'afficher le titre de chaque élément du tableau le12 -->
                    <% for (let j = 0; j < le12[i].content.length; j++) { %> <!-- Cette boucle permet de parcourir le tableau content de chaque élément du tableau le12 et d'afficher les éléments de ce tableau -->
                        <li class="menu__item--content"><%= le12[i].content[j] %></li> <!-- Cette ligne permet d'afficher le contenu de chaque élément du tableau content de chaque élément du tableau le12 -->
                    <% } %> <!-- Cette balise permet de fermer la boucle for -->
                <% } %> <!-- Cette balise permet de fermer la boucle for -->
            </ul>
        </div>
    </div>
    <div class="bar">
        <div class="bar__illustration">
            <img src="/img/dining/bar-illustration.jpg" draggable="false">
        </div>
        <div class="bar__content">
            <h2 class="bar__title">L'Aristote</h2>
            <p class="bar__description">
                L'Aristote, bar à cocktails du Twelve, est un lieu de rencontre et de partage où l'art de la
                mixologie est célébré avec passion. Dans un cadre élégant et raffiné, les barmen, véritables alchimistes
                des temps modernes, créent des cocktails sur-mesure, sublimant les saveurs et les arômes pour offrir une
                expérience sensorielle unique. Inspirés par les grands classiques et les dernières tendances, les
                cocktails de L'Aristote sont des œuvres d'art à part entière, à déguster dans une ambiance feutrée et
                chaleureuse.
            </p>
            <button class="bar__button" id="button-cocktails">Concevoir un cocktail</button>
        </div>
    </div>
    <div class="cocktail-builder">
        <p class="cocktail__close" id="cocktail-close">FERMER</p>
        <div class="cocktail__content">
            <h2 class="cocktail__title">Concevoir un cocktail</h2>
            <p class="cocktail__description">Concevez votre cocktail sur-mesure en sélectionnant parmis plus de 400 spiritueux, liqueurs, sirops et
                garnitures.</p>
        </div>
        <div class="separator"></div>
        <div class="cocktail__labs">
            <div class="labs__ingredients">
                <h3 class="labs__title">Ingrédients de votre cocktail</h3>
                <ul class="labs__list" id="labs-list">
                </ul>
            </div>
            <div class="labs__form">
                <h3 class="labs__title">Ajouter un ingrédient</h3>
                <input type="text" class="labs__input" id="labs-search" placeholder="Rechercher un ingrédient">
                    <ul class="labs__results" id="labs-results">
                    </ul>
            </div>
            <button class="labs__button" id="next-step" disabled>Continuer</button>
        </div>
        <div class="cocktail__qr">
            <img id="cocktail-qr" draggable="false" />
        </div>
    </div>
    <%- include('../partials/footer') %>
</body>

</html>