<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/index.js" defer></script>
</head>
<body>
    <div class="header">
        <div class="header__logo"></div>
    </div>
    <div class="keywords">
        <p class="keywords__text"><span>Twelve, un </span>sanctuaire grec<span> perché sur une colline surplombant la </span>mer Égée<span>, offre une expérience </span>intemporelle<span> où le luxe et la </span>sérénité<span> se mêlent à la perfection. Inspiré par l'</span>architecture classique<span>, l'hôtel se fond harmonieusement dans le paysage, offrant des vues imprenables sur les oliveraies et les </span>eaux cristallines<span>. Chaque pavillon et villa est un </span>havre de paix<span> doté d'une piscine </span>privée<span> et d'une terrasse, parfait pour se </span>détendre<span> et admirer la </span>beauté<span> des environs.</p>
    </div>
    <div class="accommodation">
        <div class="accommodation__content">
            <h2 class="accommodation__title">Hébergement</h2>
            <p class="accommodation__description">« Chaque pavillon et villa est un havre de paix conçu pour offrir une expérience intemporelle où le luxe et la sérénité se mêlent à la perfection. »</p>
            <p class="accommodation__author">Océanely Truong, directrice artistique & architecte d'intérieur</p>
            <button class="accommodation__button">Découvrir nos hébergements</button>
        </div>
        <div class="accommodation__image"></div>
    </div>
    <div class="dining">
        <div class="dining__content">
            <h2 class="dining__title">Restauration</h2>
            <p class="dining__description">« Nous avons conçu une expérience culinaire qui met en valeur les produits locaux tout en mélangant les saveurs et les textures pour créer des plats uniques. »</p>
            <p class="dining__author">Yaniv Douieb, chef exécutif</p>
            <button class="dining__button">Découvrir notre restaurant</button>
        </div>
        <div class="dining__image"></div>
    </div>
</body>
</html>